QualifAi-GS.json
{
  "name": "QualifAi-GS",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "5591856292"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1560,
        280
      ],
      "id": "535e710f-c8b0-47e4-8d1a-ee1438c2d5cd",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b5aebc58-fe03-41db-8435-4883ff17a016",
              "leftValue": "={{ $json[\"Validate Info\"] }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2720,
        600
      ],
      "id": "bb04015f-9808-40b7-b936-0065f41292d9",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Das ist der generierte Output aus dem vorherigen Gesprächsverlauf: {{ $('ChatAI').item.json.output }}\n\nVerwende nun die bisherige Zusammenfassung aus dem Tool \"prevSum\" um deine neue Zusammenfassung zu erstellen.",
        "options": {
          "systemMessage": "=Aufgabe:\nDu bist ein hochentwickelter AI-Agent, spezialisiert auf das präzise und detaillierte Zusammenfassen von Informationen. Deine Hauptaufgabe ist es, einen neuen generierten Output mit einer bereits bestehenden Zusammenfassung zu vergleichen und eine verbesserte, erweiterte Version zu erstellen.\n\nVorgehensweise:\n\nEingabe:\n\nDu erhältst eine neue generierte Antwort (Neue Erkenntnisse).\nBenutze eine bisherige Zusammenfassung (Bisherige Zusammenfassung in Google Sheets über das Sheets Tool \"prevSum\").\n\nAnalyse:\n\nIdentifiziere die Kernpunkte der Neuen Erkenntnisse.\nVergleiche diese mit der Bisherigen Zusammenfassung, um Redundanzen zu vermeiden.\nBestimme, welche neuen Informationen hinzugefügt werden müssen.\n\nErstellung der kombinierten Zusammenfassung:\n\nIntegriere die neuen Informationen nahtlos in die bestehende Zusammenfassung.\nAchte darauf, dass die Zusammenfassung kohärent bleibt und keinen Informationsverlust erleidet.\nFasse präzise, aber detailliert zusammen, indem du relevante Details und Zusammenhänge einfügst.\n\nOutput:\n\nSchreibe den Output in Englisch!\nGib die optimierte Zusammenfassung aus, die den bisherigen Gesprächsverlauf immer präziser und detaillierter kombiniert.\nFormatierung der Zusammenfassung:\nVerwende klare, gut strukturierte Absätze.\nFalls sinnvoll, nutze Stichpunkte zur besseren Lesbarkeit.\nFasse prägnant zusammen, ohne essenzielle Informationen zu verlieren.\nVermeide Wiederholungen, optimiere den sprachlichen Ausdruck."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1540,
        600
      ],
      "id": "215cf287-47fa-4255-bf7c-420f3d196668",
      "name": "SummAI",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ",
          "mode": "list",
          "cachedResultName": "SalesAgentTest",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Switch').item.json.first_name }} {{ $('Switch').item.json.last_name }}",
            "Zusammenfassung": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Zusammenfassung",
              "displayName": "Zusammenfassung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1920,
        600
      ],
      "id": "5406dbed-752b-4b69-b87a-f4a1c8081031",
      "name": "Zusammenfassung",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o6VgHADWIo2hRlUi",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are an friendly and professional chat agent tasked with qualifying potential customers for buisness coaching services using the BANT (Budget, Authority, Need, Timeline) model. Your goal is to efficiently determine if a customer is qualified through a WhatsApp conversation.\n\nHere is the available customer information:\n\n<customer_info>\nVorname: {{ $('Switch').item.json.first_name }}   \nNachname: {{ $('Switch').item.json.last_name }}  \nIndustrie: {{ $('Switch').item.json.industry }}   \nUnternehmen: {{ $('Switch').item.json.company_name }}\nJahresumsatz (in €):\nWebsite: {{ $('Switch').item.json.website }}    \nE-Mail: {{ $('Switch').item.json.email_address }}\n\nThe customer's latest message is:\n\n<customer_message>\n{{ $json.text }}\n</customer_message>\n\nInstructions:\n\n1. Use the Google Sheets Tool \"prevValidation\" to check which BANT questions have already been answered and which are still missing.\n\n2. Use the Google Sheets Tool \"prevSummary\" to review the conversation history.\n(If its the first User message (empty Summary and Validation), start with a first message to recieve the BANT-Information)\n\n3. Based on the missing BANT information, formulate 1-2 targeted questions to ask the customer. Focus on one BANT category at a time.\n\n4. Craft a concise, friendly, and professional WhatsApp message containing your questions.\n\n5. If all BANT information has been collected, or if the customer expresses complaints or feedback, thank them and inform them that you'll pass their message to a human representative.\n\nImportant Rules:\n- Write the Telegram-Message in english language\n- you don't have to greet the customer in every message\n- Keep messages short and suitable for Telegram.\n- Do not explain your thought process or actions in the message.\n- Maintain a friendly and professional tone.\n- If you encounter complaints or feedback, thank the customer and inform them that you'll pass it to a human representative.\n\nConduct your BANT analysis inside <bant_analysis> tags before crafting the final WhatsApp message. Your output should only contain the WhatsApp message, enclosed in <whatsapp_message> tags.\n\nExample output structure:\n\n<bant_analysis>\n1. Review customer information:\n   - [Note any relevant details from customer_info]\n\n2. Analyze Budget:\n   - [Note what's known/unknown about budget]\n   - [Formulate question if needed]\n\n3. Analyze Authority:\n   - [Note what's known/unknown about authority]\n   - [Formulate question if needed]\n\n4. Analyze Need:\n   - [Note what's known/unknown about need]\n   - [Formulate question if needed]\n\n5. Analyze Timeline:\n   - [Note what's known/unknown about timeline]\n   - [Formulate question if needed]\n\n6. Formulate final questions:\n   - [List 1-2 most important questions based on analysis]\n</bant_analysis>\n\n<whatsapp_message>\n\n[Your 1-2 targeted questions here]\n\n</whatsapp_message>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1540,
        60
      ],
      "id": "8bd8cfb7-7ece-4006-9783-dfe6147ab3f4",
      "name": "ChatAI",
      "alwaysOutputData": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Dies ist die bisherige Zusammenfassung auf Grundlage derer validiert werden soll:   {{ $json.Zusammenfassung }}",
        "options": {
          "systemMessage": "=Aufgabe:\nDu bist ein spezialisierter AI-Agent zur Validierung eines Gesprächs nach dem BANT-Modell (Budget, Authority, Need, Timeline). Deine Aufgabe ist es zu prüfen, ob das Gespräch beendet werden kann, indem du überprüfst, ob alle erforderlichen Informationen vollständig in der Zusammenfassung enthalten sind.\n\nVorgehensweise:\n\nEingabe:\n\nEine vollständige aktuelle Zusammenfassung des Gesprächs.\n\nValidierung nach dem BANT-Modell:\n\nBudget: Wurde das verfügbare Budget des Kunden genannt oder ein Hinweis darauf gegeben?\nAuthority (Entscheidungsbefugnis): Wurde geklärt, ob der Kunde die Kaufentscheidung treffen kann oder wer sie trifft?\nNeed (Bedarf): Wurde der spezifische Bedarf des Kunden ermittelt?\nTimeline (Zeitplan): Wurde ein Zeitrahmen für die Umsetzung oder Kaufentscheidung erfragt?\n\nAbgleich mit den gestellten Fragen:\n\nSind alle Fragen aus der ursprünglichen Liste in der Zusammenfassung beantwortet?\nFalls eine oder mehrere der erforderlichen Informationen fehlen, ist das Gespräch noch nicht abgeschlossen.\n\nAusgabe:\nOutput soll auf Englisch sein!\nErstelle eine Kurze Übersicht über jedes BANT-Kriterium und ob und inwiefern diese schon beatnwortet wurden\nYES → Wenn alle vier BANT-Kriterien erfüllt und alle relevanten Fragen beantwortet sind.\nNO → Falls noch Informationen fehlen, die notwendig sind, um das Gespräch abzuschließen.\n\nWichtig:\nAntworte mit YES nur wenn alle Kriterien erfüllt sind! Sollten nicht alle Kriterien erfüllt sein darf sich kein \"YES\" in dem Output befinden.\n\nWenn zu jedem BANT-Kriterium einige Informationen vorliegen, ist das Gespräch als validiert zu betrachten und mit YES zu markieren. Es muss nicht zu detailliert nachgefragt werden, da dies dann von einem Kollegen in einem zukünftigen persönlichem Gespräch erledigt wird.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2140,
        600
      ],
      "id": "24e4af64-c232-44b1-a8c2-7a126e9d48a1",
      "name": "ValidateAI",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ",
          "mode": "list",
          "cachedResultName": "SalesAgentTest",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1034309098,
          "mode": "list",
          "cachedResultName": "Val",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ/edit#gid=1034309098"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Switch').item.json.first_name }} {{ $('Switch').item.json.last_name }}",
            "Validate Info": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Validate Info",
              "displayName": "Validate Info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2500,
        600
      ],
      "id": "b95175aa-922c-42ec-abbb-62c80137f0e7",
      "name": "ValidateInfo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o6VgHADWIo2hRlUi",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ",
          "mode": "list",
          "cachedResultName": "SalesAgentTest",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1034309098,
          "mode": "list",
          "cachedResultName": "Val",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ/edit#gid=1034309098"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Name",
              "lookupValue": "={{ $('Switch').item.json.first_name }} {{ $('Switch').item.json.last_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1680,
        280
      ],
      "id": "0dda9ba5-ecd9-4847-bb84-7f69e8fd5b3a",
      "name": "prevValidation",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o6VgHADWIo2hRlUi",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ",
          "mode": "list",
          "cachedResultName": "SalesAgentTest",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Name",
              "lookupValue": "={{ $('Switch').item.json.first_name }} {{ $('Switch').item.json.last_name }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1700,
        820
      ],
      "id": "425d64d3-93dd-487f-9745-676c5465f2e1",
      "name": "prevSum",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o6VgHADWIo2hRlUi",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "1f940762-b876-481a-b23e-a0d45f70fd19"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "222fd044-ef24-4303-ab62-c9499cfe5e85",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        700,
        160
      ],
      "id": "0c645cff-9d87-4772-899e-7ece954062e0",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        1140,
        260
      ],
      "id": "e42ccf2e-8528-4640-8eeb-a2672b68d98b",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "6V8D9KpngJsguB5N",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4764bbb-af4d-4764-a2f3-a1e3c21e6b4b",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        60
      ],
      "id": "3a01f8fa-1500-470b-b330-e903dacf95ef",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "29d6ab64-18fc-40b5-9be9-de3c90e187d2",
              "leftValue": "={{ $json.is_valid }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        160
      ],
      "id": "8c0d4de5-ce03-4db3-9aa4-5b404e24316c",
      "name": "isValidated"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ",
          "mode": "list",
          "cachedResultName": "SalesAgentTest",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sum",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Name",
              "lookupValue": "{{ $('Airtable').item.json.Vorname }} {{ $('Switch').item.json.Nachname }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1800,
        280
      ],
      "id": "3e61042f-e3cc-48c5-be31-d86e08d1bb3d",
      "name": "prevSummery",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o6VgHADWIo2hRlUi",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst extractedMessages = items.map((item) => {\n  const messageStart =\n    item?.json?.output.indexOf(\"<whatsapp_message>\") +\n    \"<whatsapp_message>\".length;\n  const messageEnd = item?.json?.output.indexOf(\"</whatsapp_message>\");\n  const message = item?.json?.output.substring(messageStart, messageEnd);\n  return { message };\n});\nreturn extractedMessages;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        280
      ],
      "id": "81d3807f-81d6-4f48-89bc-57e982223197",
      "name": "Code"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -180,
        260
      ],
      "id": "5ddffed0-4070-4e6d-b449-f35869bca9bf",
      "name": "Telegram Trigger",
      "webhookId": "8bd8b941-bb99-4b2f-8a1b-0b5ed2c8e8e2",
      "credentials": {
        "telegramApi": {
          "id": "lG4aK4bv3oge74l1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        920,
        260
      ],
      "id": "b8df3253-143c-4d5f-b478-a84412997d8b",
      "name": "Telegram",
      "webhookId": "1f4aae7e-59c1-4169-962b-124d7ddd564b",
      "credentials": {
        "telegramApi": {
          "id": "lG4aK4bv3oge74l1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $('Code').item.json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2940,
        700
      ],
      "id": "b342519a-f3b6-4d70-8bf6-aff62ec5fbb8",
      "name": "Telegram1",
      "webhookId": "7dbb90a4-1d0b-4556-abf1-8dc9a846b484",
      "credentials": {
        "telegramApi": {
          "id": "lG4aK4bv3oge74l1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Thank you for answering my questions, {{ $('Switch').item.json.first_name }}.\n\nWe’ll evaluated your request and get in touch with you soon.\n\nWishing you all the best and a great day!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3160,
        500
      ],
      "id": "8763a267-0ef7-4af9-b9ac-e7580be8515c",
      "name": "Telegram2",
      "webhookId": "64bb7ac8-4247-485f-aee0-d0eeb1e701cc",
      "credentials": {
        "telegramApi": {
          "id": "lG4aK4bv3oge74l1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ",
          "mode": "list",
          "cachedResultName": "SalesAgentTest",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1274154586,
          "mode": "list",
          "cachedResultName": "User",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ/edit#gid=1274154586"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "chat_id",
              "lookupValue": "={{ $json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        40,
        260
      ],
      "id": "1c533e29-a244-4fd2-b594-19e9f1b6dc0b",
      "name": "find_user",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o6VgHADWIo2hRlUi",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "74473bd8-02f8-440c-84f3-f5412d08e481",
              "leftValue": "={{ $json.chat_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        260
      ],
      "id": "3cb1c6e4-9fd1-4423-a13b-2d1ef22fe2e7",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ",
          "mode": "list",
          "cachedResultName": "SalesAgentTest",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1274154586,
          "mode": "list",
          "cachedResultName": "User",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ/edit#gid=1274154586"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "first_name": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
            "last_name": "={{ $('Telegram Trigger').item.json.message.chat.last_name }}",
            "is_valid": "=false",
            "industry": "IT",
            "company_name": "Agentify",
            "website": "example.com",
            "email_address": "demoo@example.de",
            "Jahresumsatz (in €)": "100000"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_address",
              "displayName": "email_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Jahresumsatz (in €)",
              "displayName": "Jahresumsatz (in €)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_valid",
              "displayName": "is_valid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        480,
        360
      ],
      "id": "8cd8ba0d-3784-40d5-8829-9866df5118dd",
      "name": "create_user",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o6VgHADWIo2hRlUi",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1420,
        280
      ],
      "id": "170f8b64-85f4-4b60-8ee7-1427623c9cbc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6V8D9KpngJsguB5N",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1580,
        820
      ],
      "id": "7d7d75e0-b9ce-4ae0-b167-c02bea0772a3",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "6V8D9KpngJsguB5N",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2220,
        820
      ],
      "id": "7b63cd83-db05-4f33-b2e5-c87ca471da21",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "6V8D9KpngJsguB5N",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ",
          "mode": "list",
          "cachedResultName": "SalesAgentTest",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1274154586,
          "mode": "list",
          "cachedResultName": "User",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10eHFS5akLGvXWsQxNh9JrL9tuts3ghOw17lxwIliSIQ/edit#gid=1274154586"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Switch').item.json.chat_id }}",
            "is_valid": "=True"
          },
          "matchingColumns": [
            "chat_id"
          ],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_address",
              "displayName": "email_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jahresumsatz (in €)",
              "displayName": "Jahresumsatz (in €)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_valid",
              "displayName": "is_valid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2940,
        500
      ],
      "id": "76a4e37f-d635-456a-8267-78c63a5027ce",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o6VgHADWIo2hRlUi",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Hey there! 👋  \nThanks for your interest and trust – great to have you here!  \nI'm QualifAI, your personal assistant.  \nIn the next few minutes, I’ll ask you a few short questions to better understand your needs and goals.\n\n🗣️ You can simply reply to each question with a message or a voice note, right here in the chat – whatever works best for you.  \n⚠️ Please make sure to send only one message or voice note at a time, so I can respond properly.\n\nWhen you’re ready to begin, just reply to this message in any way – and we’ll get started. 🙌",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        700,
        360
      ],
      "id": "b07d7f2c-87e4-44d9-afdf-be5609ef5716",
      "name": "Telegram3",
      "webhookId": "7dbb90a4-1d0b-4556-abf1-8dc9a846b484",
      "credentials": {
        "telegramApi": {
          "id": "lG4aK4bv3oge74l1",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 297876340,
          "message": {
            "message_id": 28,
            "from": {
              "id": 5591856290,
              "is_bot": false,
              "first_name": "Francisco",
              "last_name": "Hella",
              "username": "xxdeluluxx",
              "language_code": "de"
            },
            "chat": {
              "id": 5591856290,
              "first_name": "Francisco",
              "last_name": "Hella",
              "username": "xxdeluluxx",
              "type": "private"
            },
            "date": 1753802885,
            "text": "hey"
          }
        }
      }
    ]
  },
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "ChatAI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SummAI": {
      "main": [
        [
          {
            "node": "Zusammenfassung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zusammenfassung": {
      "main": [
        [
          {
            "node": "ValidateAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatAI": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ValidateAI": {
      "main": [
        [
          {
            "node": "ValidateInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prevValidation": {
      "ai_tool": [
        [
          {
            "node": "ChatAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "prevSum": {
      "ai_tool": [
        [
          {
            "node": "SummAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "ChatAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "ChatAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isValidated": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prevSummery": {
      "ai_tool": [
        [
          {
            "node": "ChatAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "SummAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "find_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "find_user": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "isValidated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ChatAI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "SummAI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "ValidateAI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ValidateInfo": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_user": {
      "main": [
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f348ca63-c475-455d-8387-90c7ec9bbda6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9fbb283e1dcd81791a2cf1a07ec26c07c67a44841711f8c28a34ac8107e54bcd"
  },
  "id": "gXwi7eQDbRb4lfP8",
  "tags": []
}
